@model Alaska.Web.Models.City
<div class="form-group">
    <label asp-for="NomCiudad" class="control-label"></label>
    <input asp-for="NomCiudad" class="form-control" />
    <span asp-validation-for="NomCiudad" class="text-danger"></span>
</div>


