@model Alaska.Web.Models.Restaurant

@{
ViewData["Title"] = "Nuevo Restaurante";
}

<h2>Add</h2>
<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRestaurant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCity" />
            <partial name="_Restaurant" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="font-weight-bold btn btn-primary" />
                <a class="font-weight-bold btn btn-warning" asp-action="Details" asp-route-id="@Model.IdCity"><i class="fa-solid fa-circle-arrow-left"></i> Volver a Restaurantes</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await 
Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
font-weight-bold