@{
	ViewData["Title"] = "Error404";
}
<body>
	<br />
	<div style="text-align: center;"><img src="~/images/Error404.png" height="400px" width="400px"/></div>
	<br />
	<h3 style="text-align: center;">¡Ups! No pudimos encontrar el archivo :(</h3>
</body>


