@{
    ViewData["Title"] = "Home Page";
}

<body background="https://images.vexels.com/media/users/3/255469/raw/5d32670a4a9ed361eae2ac4121be7e92-dise-o-de-patr-n-de-comida-dulce-de-cono-de-helado.jpg">

</body>
