@{
	ViewData["Title"] = "NotAuthorized";
}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body BackColor="#D519DE">
	<br />
	<br />
	<img src="~/images/gopher_head-min.png" />
	<h2>You are not authorized to perform this action!</h2>
</body>


