<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alaska.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/Font-awesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Alaska</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" asp-area="" asp-controller="Cities" asp-action="Index"><i class="fa-solid fa-utensils"></i> Restaurantes</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" asp-area="" asp-controller="Categories" asp-action="Index"><i class="fa-solid fa-bars"></i> Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" asp-area="" asp-controller="Products" asp-action="Index"><i class="fa-solid fa-ice-cream"></i> Productos</a>
                            </li>
                        }
                    </ul>
                        <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="ChangeUser"><i class="fa-solid fa-at"></i> @User.Identity.Name</a></li>
                            <li><a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-user"></i> Cerrar Sesion</a></li>
                        }
                        else
                        {
                            <li><a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-user"></i> Iniciar Sesion</a></li>
                        }    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; 2022 - Alaska.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
