@model Alaska.Web.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomEmpleado" class="control-label"></label>
                <input asp-for="NomEmpleado" class="form-control" />
                <span asp-validation-for="NomEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedEmpleado" class="control-label"></label>
                <input asp-for="CedEmpleado" class="form-control" />
                <span asp-validation-for="CedEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApeEmpleado" class="control-label"></label>
                <input asp-for="ApeEmpleado" class="form-control" />
                <span asp-validation-for="ApeEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadEmpleado" class="control-label"></label>
                <input asp-for="EdadEmpleado" class="form-control" />
                <span asp-validation-for="EdadEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

